/*
Theme name: Polo
Author name: FreeBuck
Author URL: www.freebuck.xyz
*/

@import url(https://fonts.googleapis.com/css?family=Pathway+Gothic+One);


html,body{
	margin:0;
}

/*===============
=====Header======
================*/
#head_img{
	width:100%;
	height:100px;
}

/*===============
=====body======
================*/
.icon_logo{
	margin: 0 auto;
}
.main_tab{
	width:500px;
	margin:0 auto;
	/*background: rgba(228, 215, 215, 0.36);*/
	/*box-shadow: 0px 0px 17px black;*/
	border-radius: 10%;
	font-family: 'Pathway Gothic One', sans-serif;
	text-align: center
}
.w3-btn{
	width:150px;
	font-size: 18px;
}
#sign_u{
	font-size: 36px;
}
.main_tab_login{
	width:500px;
	margin:0 auto;
	/*background: rgba(228, 215, 215, 0.36);*/
	/*box-shadow: 0px 0px 17px black;*/
	border-radius: 10%;
	font-family: 'Pathway Gothic One', sans-serif;
	text-align: center;
	font-size: larger;
}
.warning_box{
	width:500px;
	margin:0 auto;
	font-family: 'Pathway Gothic One', sans-serif;
	text-align: center;
	font-size: larger;
}
.main_tab_signup{
	width:500px;
	margin:0 auto;
	/*background: rgba(228, 215, 215, 0.36);*/
	/*box-shadow: 0px 0px 17px black;*/
	border-radius: 10%;
	font-family: 'Pathway Gothic One', sans-serif;
	text-align: center;
	font-size: larger;
}
.col-xs-10.box-10 {
    padding: 6px;
    margin: 2px 35px;
}

/*===============
=====Footer======
================*/

#foot_img{
	width:100%;
	height:100px;
}
#copywrite{
	text-align: center;
	padding-top: 10px;
}